body {
    background-image: url("download.png");
    background-repeat: no-repeat;
    background-size: auto;

  }
  h1 {
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 5em;
      color: gainsboro;
  }
  p {
      text-align: center;
    color:darkgray;
  }
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}
.grid-pic {
    text-align: center;
}
.grid-text{
    text-align: center;
    margin: auto;
}
.ThomasText{
    color: black;
    font-size: 4em;
}
#container{
  background-color: aqua;
}
#yeet {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: beige;
  size: 2em;
  text-align: center;
}