body {
    background-image: url("download.png");
    background-repeat: no-repeat;
    background-size: auto;

  }
  h1 {
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 5em;
      color: gainsboro;
  }
  p {
      text-align: center;
    color:darkgray;
  }
#yeet {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: beige;
  size: 2em;
  text-align: center;
}