.grid-container {
  display: grid;
  grid-template-columns: 75% 25%;
  background-image: url("pictures/color.png");
  padding: 10px;
}
.grid-pic {
    text-align: center;
}
.grid-text{
    text-align: center;
    margin: auto;
}
.text{
    color: white;
    font-size: 4em;
}